{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <div class="container">
      <h1 class="text-center">Sistema de Gestión de Tareas</h1>
      <br>
      <p><h5> Esta es la página de inicio del Sistema de Gestión de Tareas desarrollado por <b>Legner Morales Manso.</b>
         Diríjase a <a href="/signin"><b>Iniciar sesión</b></a> para acceder a su cuenta de usario 
        y así poder ver las tareas que tiene asignadas, si no posee cuenta en nuestro sistema puede ir a 
        <a href="/signup"><b>Registrarse.</b></a></h5>
      </p>
    </div>
  </section>
</main>

{% endblock %}
